<!-- index.html -->
{% extends "layout.html" %}

{% block content %}
<!-- Your HTML content here -->
<div class="container-fluid">
  <h1 class="text-center mt-5">Home of the Governor's Bowl Fantasy Football League</h1>
  <hr>
  <div class="row">
    <div class="col-xs-18 col-sm-9 col-lg-12">
      <h1>All Time Governor Statistics</h1>
      <div class="table-responsive">
        <table class="table table-striped table-bordered text-center align-middle">
          <thead>
            {% if alltime_stat_labels %}
              {% for label in alltime_stat_labels %}
                <th>{{ label.title().replace("_", " ") }}</th>
              {% endfor %}
            {% endif %}
          </thead>
          <tbody>
            {% if owner_stats_w_ranks %}

              {% for owner_id, owner_dict in owner_stats_w_ranks.items() %}
                <tr>
                  {% for stat_label, stat_rank in owner_dict.items() %}
                  
                    <td>{{ stat_rank }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            {% else %}
              <td colspan="16">No stats available</td>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!-- 
  <div class="row">
      <div class="col-xs-9 col-sm-4.5 col-lg-6">
          <div id="wins_chart"></div>
      </div>
      <div class="col-xs-9 col-sm-4.5 col-lg-6">
          <div id="total_points_for_chart"></div>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-9 col-sm-4.5 col-lg-6">
          <div id="total_points_against_chart"></div>
      </div>
      <div class="col-xs-9 col-sm-4.5 col-lg-6">
          <div id="weekly_pf_chart"></div> 
      </div>
  </div>
</div> -->
{% endblock %}

{% block scripts %}
{{ super() }}
<script type='text/javascript'>
<!--
    var wins_charts = {{wins_chart | safe}};
    Plotly.newPlot('wins_chart', wins_charts);
    var total_points_for_charts = {{total_points_for_chart | safe}};
    Plotly.newPlot('total_points_for_chart', total_points_for_charts);
    var total_points_against_charts = {{total_points_against_chart | safe}};
    Plotly.newPlot('total_points_against_chart', total_points_against_charts);
    var weekly_pf_charts = {{weekly_pf_chart | safe}};
    Plotly.newPlot('weekly_pf_chart', weekly_pf_charts);
-->
</script>
{% endblock %}
