{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block title %}Gov-Bowl-App{% endblock %}

{% block navbar %}
<div class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Governor's Bowl</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Owners
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for owner in owners %}
              <a class="dropdown-item" href="/owner/{{owner}}">{{owner}}</a>
            {% endfor %}
          </div>
        </li>
        <!-- Adding Yearly Recap Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="SeasonRecapsDropdowndown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Season Recaps
          </a>
          <div class="dropdown-menu" aria-labelledby="SeasonRecapsDropdowndown">
            {% for year in years %}
              <a class="dropdown-item" href="/season_recap/{{year}}">{{year}}</a>
            {% endfor %}
          </div>
        </li>
      </ul>
    </div>
</div>
{% endblock %}

{% block content %}{% endblock %}

{% block scripts %}
{{ super() }}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
