<!-- owner.html -->
{% extends "layout.html" %}

{% block content %}
<!-- Your HTML content here -->
<div class="container-fluid">
    <h1>{{ owner_name_clean }}</h1>


    <!-- Display their all time stats here -->
    <h1>All Time Stats</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center align-middle">
                <thead>
                {% if alltime_stat_labels %}
                    {% for label in alltime_stat_labels %}
                    <th>{{ label.title().replace("_", " ") }}</th>
                    {% endfor %}
                {% endif %}
                </thead>
            <tbody>
                <tr>
                    <td><strong>Total</strong></td>
                    {% if owner_alltime_totals %}
                        {% for stat_label, stat_value in owner_alltime_totals.items() %}
                            <td>{{ stat_value }}</td>
                        {% endfor %}
                    {% else %}
                        <td colspan="16">No stats available for this owner.</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    <h1>Yearly Results</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center align-middle">
            <thead>
                <tr>
                    <th>Year</th>
                    {% for label in stat_labels %}
                        <th>{{ label.title().replace("_", " ") }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% if owner_yearly_stats %}
                    {% for year, year_data in owner_yearly_stats.items() %}
                        <tr>
                            <td>{{ year }}</td>
                            {% for stat_label, stat_value in year_data.items() %}
                                <td>{{ stat_value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>No data for this year for this owner...</p>
                {% endif %}
            </tbody>
        </table>
    </div>

    <!-- In the future: Put a form in that allows them to look at stats by year instead (totals from that year, their results by week form that year, etc.)-->


    <div id="owner_weekly_pf_chart"></div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select year
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for year in years %}
            <a class="dropdown-item" href="/owner/{{ owner_name }}/{{ year }}">{{ year }}</a>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type='text/javascript'>
<!--
    var owner_weekly_pf_charts = {{owner_weekly_pf_chart | safe}};
    Plotly.newPlot('owner_weekly_pf_chart', owner_weekly_pf_charts);
-->
</script>
{% endblock %}
